.Product-Card-1{
    width: 200px;
    background-color: #d1d1e0;
    padding: 10px 5px;
    border-radius: 20px;
    border: 5px double #34344c;
}
.Product-Card-2{
    width: 200px;
    height: 293px;
    background-color: #d1e0e0;
    padding: 10px 5px;
    border-radius: 20px;
    border: 5px dotted #537979;
}
.Product-Card-3{
    width: 200px;
    height: 293px;
    background-color: #d1d1e0;
    padding: 10px 5px;
    border-radius: 20px;
    border: 5px double #34344c;
}
.Product-Card-4{
    width: 200px;
    height: 293px;
    background-color: #d1e0e0;
    padding: 10px 5px;
    border-radius: 20px;
    border: 5px dotted #537979;
}
.Product-Card-5{
    width: 200px;
    height: 293px;
    background-color: #d1d1e0;
    padding: 10px 5px;
    border-radius: 20px;
    border: 5px double #34344c;
}
.Product-Card-6{
    width: 200px;
    height: 293px;
    background-color: #d1e0e0;
    padding: 10px 5px;
    border-radius: 20px;
    border: 5px dotted #537979;
}
.Product-Card-7{
    width: 200px;
    height: 293px;
    background-color: #d1e0e0;
    padding: 10px 5px;
    border-radius: 20px;
    border: 5px dotted #537979;
}
.Product-Card-8{
    width: 200px;
    height: 293px;
    background-color: #d1d1e0;
    padding: 10px 5px;
    border-radius: 20px;
    border: 5px double #34344c;
}
.Product-Card-9{
    width: 200px;
    height: 293px;
    background-color: #d1e0e0;
    padding: 10px 5px;
    border-radius: 20px;
    border: 5px dotted #537979;
}
.btn-1{
    border-radius: 20px;
    border: none;
    display: block;
    margin: 10px auto;
    padding: 10px 10px;
}
.Product-img-1{
    width: 150px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}
.Product-img-2{
    width: 150px;
    height: 130px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}
.Product-img-3{
    width: 150px;
    height: 130px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}
.Product-img-4{
    width: 150px;
    height: 130px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}
.Product-img-5{
    width: 150px;
    height: 130px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}
.Product-img-6{
    width: 150px;
    height: 130px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}
.Product-img-7{
    width: 150px;
    height: 130px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}
.Product-img-8{
    width: 150px;
    height: 130px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}
.Product-img-9{
    width: 150px;
    height: 130px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}